
/* Navigation Bar */

#navigation-bar {
    background-color: #f8f9fa;
    padding: 0 7% 0;
}


/* Header */
#header{
    background: #000;
    text-align: center;
}

#header h1 {
    color: #fff;
}

#header p {
    padding-top: 1rem;
    color: #72848f;
}

#header .container-fluid {
    padding: 3% 0 5%;
}

/* Product */
#product .row {
    padding: 3% 10% 3%;
}


#product .list-group {
    padding-top: 17%;
}
/* Footer */
#footer {
    padding: 7% 15%;
    background-color: #000;
    text-align: center;
}

#footer p {
    color: #fff;
}

a:hover {
    text-decoration: none;
}